.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 7px;
    margin-right: 7px;
    gap: 10px;
    background-color: #ffffff;
}
.try-btn{
    background-color: #407af8;
    color: white;
    border-radius: 5px;
    padding: 8px 14px 8px 14px;
    border: 0px;
    
}
.logout{
    background-color: #ffffff;
    color: rgb(233, 30, 30);
    border-radius: 5px;
    padding: 8px 14px 8px 14px;
    border: solid 1px #f84040;
    margin-left: 10px;
}